<tr>
  <th rowspan=2><%= l('cmi.label_measurement_and_metrics') %></th>
  <th rowspan=1 colspan="3"><%= l('cmi.label_effort_annual_review') %></th>
  <% @names.each do |report| %>
    <td class="issue"> -- </td>
  <% end %>
</tr>
<tr>
  <th rowspan=1 colspan="3"><%= l('cmi.label_effort_reporting') %></th>
  <% @names.each do |report| %>
    <td class="issue"> -- </td>
  <% end %>
</tr>
